VITE_SUPABASE_URL=https://habbwezjkgfwxrpojalq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhYmJ3ZXpqa2dmd3hycG9qYWxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NTA4ODksImV4cCI6MjA5MjUyNjg4OX0.Jfgbdz5PHetEq-cUcTuuKrwit4oYcqpizSCPUZ75sMM
